/** Pills */
.rui-pill {
  color: inherit;
  display: inline;
  padding: 1px 5px;
  border-radius: 2px;
  border: 1px solid #EEE;
  margin: 2px;
}
.rui-pill-green {
  color: #FFF;
  background-color: #1fe0ba;
  border-color: #1fe0ba;
}
.rui-pill-blue {
  color: #FFF;
  background-color: #57aae1;
  border-color: #57aae1;
}
.rui-pill-violet {
  color: #FFF;
  background-color: #ac75c2;
  border-color: #ac75c2;
}
.rui-pill-orange {
  color: #FFF;
  background-color: #ea9347;
  border-color: #ea9347;
}
.rui-pill-red {
  color: #FFF;
  background-color: #eb6d60;
  border-color: #eb6d60;
}
.rui-pill-large {
  font-size: 14px;
  padding: 2px 8px;
}
/** End Pills */
/** Buttons */
.rui-btn {
  color: inherit;
  border: 1px solid #eeeeee;
  background: #FFF;
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 700;
}
.rui-btn.disabled,
.rui-btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: .65;
}
.rui-btn:hover {
  background: #f2f2f2;
}
.rui-btn-green {
  color: #FFF;
  background: #1abc9c;
  border-color: #19b395;
}
.rui-btn-green:hover {
  background: #19b395;
}
.rui-btn-blue {
  color: #FFF;
  background: #3498db;
  border-color: #2b94d9;
}
.rui-btn-blue:hover {
  background: #2b94d9;
}
.rui-btn-violet {
  color: #FFF;
  background: #9b59b6;
  border-color: #9752b3;
}
.rui-btn-violet:hover {
  background: #9752b3;
}
.rui-btn-orange {
  color: #FFF;
  background: #e67e22;
  border-color: #e4791a;
}
.rui-btn-orange:hover {
  background: #e4791a;
}
.rui-btn-red {
  color: #FFF;
  background: #e74c3c;
  border-color: #e64433;
}
.rui-btn-red:hover {
  background: #e64433;
}
.rui-btn-group {
  display: inline-block;
}
.rui-btn-group-active-violet {
  color: #FFF;
  background: #8e44ad;
  border-color: #8841a6;
}
/** End Buttons */
/** Tabs */
.rui-tabset-c {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.rui-tabset-ctrl {
  cursor: pointer;
  padding: 6px 14px;
}
.rui-tabset-ctrl-material {
  flex: 1;
  text-align: center;
}
.rui-tabset-ctrl-material-active {
  border-top: 1px solid #1abc9c;
  border-bottom: 1px solid #1abc9c;
}
.rui-tabset-ctrl-material-inactive {
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
}
.rui-tabset-ctrl-classic {
  border-top: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
}
.rui-tabset-ctrl-classic-inactive {
  border-top: 1px solid #fafafa;
}
.rui-tabset-ctrl-pills {
  border-radius: 18px;
  margin: 4px;
}
.rui-tab-active {
  font-weight: bold;
  color: #FFF;
  background: #1abc9c;
}
.rui-tab-inactive {
  color: #7a7a7a;
}
.rui-tab-c {
  padding: 10px;
  border-top: 1px solid #EEE;
}
/* End Tabs */
/** List */
.rui-list-float {
  position: absolute;
}
.rui-list-c {
  border: 1px solid #eeeeee;
  background: #FFF;
}
.rui-li {
  padding: 8px 20px;
  cursor: pointer;
}
.rui-li:hover {
  background: #ededed;
}
.rui-li-green:hover {
  background: #1abc9c;
  color: #FFF;
}
.rui-li-blue:hover {
  background: #3498db;
  color: #FFF;
}
/** End List */
/** Side Nav */
.rui-snav-grp {
  cursor: pointer;
  border-left: 4px solid transparent;
  padding: 12px 10px;
  font-weight: bold;
}
.rui-snav-item {
  cursor: pointer;
  border-left: 4px solid transparent;
  font-weight: bold;
  padding: 12px 10px;
}
.rui-snav-active {
  background: #2c3e50;
  border-left: 4px solid #2ecc71;
}
.rui-snav-item:hover {
  background: #2c3e50;
}
.rui-snav-grp:hover {
  background: #2c3e50;
}
.rui-snav-items {
  overflow: hidden;
  transition: height 0.15s ease-out;
}
.rui-snav-grp-c > .rui-snav-items > .rui-snav-item {
  padding-left: 32px;
}
/** End SideNav */
/* forms */
.rui-form-block {
  margin-bottom: 8px;
}
.rui-form-block > div > input,
.rui-form-block > div > select {
  display: block;
  width: 100%;
}
.rui-form-block > div > input:focus,
.rui-form-block > div > select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}
.rui-form-block > div > label {
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
}
.rui-form-container {
  padding: 10px;
}
.rui-form-column {
  flex-direction: column;
}
.rui-form-input {
  height: 32px;
  padding: 2px 8px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 1px;
  box-shadow: none;
  box-sizing: border-box;
}
.rui-form-ac-cont > input:focus {
  outline: none !important;
}
.rui-form-ac-cont > input {
  max-width: 100%;
  max-height: none;
  min-height: 0;
  padding: 0;
  margin: 0 1px;
  line-height: inherit;
  text-indent: 0;
  background: none;
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: auto;
}
.rui-form-ac-cont.formx-input {
  cursor: text;
}
/* end forms */
/** grids */
.rui-g {
  text-rendering: optimizespeed;
  display: flex;
}
.rui-g1,
.rui-g1-1,
.rui-g1-2,
.rui-g1-3,
.rui-g2-3,
.rui-g1-4,
.rui-g3-4,
.rui-g1-6,
.rui-g5-6,
.rui-g1-12,
.rui-g2-12,
.rui-g3-12,
.rui-g4-12,
.rui-g5-12,
.rui-g6-12,
.rui-g7-12,
.rui-g8-12,
.rui-g9-12,
.rui-g10-12,
.rui-g11-12,
.rui-g12-12 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.rui-g1-12 {
  width: 8.3333%;
  *width: 8.3023%;
}
.rui-g1-6,
.rui-g2-12 {
  width: 16.6667%;
  *width: 16.6357%;
}
.rui-g1-4,
.rui-g3-12 {
  width: 25%;
  *width: 24.9690%;
}
.rui-g1-3,
.rui-g4-12 {
  width: 33.3333%;
  *width: 33.3023%;
}
.rui-g5-12 {
  width: 41.6667%;
  *width: 41.6357%;
}
.rui-g1-2,
.rui-g6-12 {
  width: 50%;
  *width: 49.9690%;
}
.rui-g7-12 {
  width: 58.3333%;
  *width: 58.3023%;
}
.rui-g2-3,
.rui-g8-12 {
  width: 66.6667%;
  *width: 66.6357%;
}
.rui-g3-4,
.rui-g9-12 {
  width: 75%;
  *width: 74.9690%;
}
.rui-g5-6,
.rui-g10-12 {
  width: 83.3333%;
  *width: 83.3023%;
}
.rui-g11-12 {
  width: 91.6667%;
  *width: 91.6357%;
}
.rui-g1,
.rui-g1-1,
.rui-g12-12 {
  width: 100%;
}
/** end grids */
