html,body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; font-size: 12px;
    height:100%;

}
.rui-doc-container {
    display:flex;

    height:100%;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    color: #FFF;
    background: #252a3a;
    height:100%;
}

.title {
    background: #1b98f8;
    height: 30px;
    width: 200px;
    padding: 10px 0;
}

.title-text {

    font-weight: 300;
    font-size: 18px;

}

.nav {
    display:flex;
    height: 100%;

}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.playground {
    display:flex;
}