html,body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; font-size: 12px;
    height:100%;
    background: #f7f7f7;

}
.rui-doc-container {
    display:flex;

    height:100%;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 0 0 220px;
    color: #FFF;
    background: #252a3a;
    height:100%;
}

.title {
    background: #1b98f8;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center;
    border-bottom: 1px solid #1b98f8;

}

.title-text {

    font-weight: 300;
    font-size: 18px;
}
.rui-doc-main {
    flex: 1 1 auto;
}
.rui-doc-header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #EEE;
    background: #FFF;
}

.nav {
    display:flex;
    height: 100%;

}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.playground {
    display:flex;
}

.rui-snav-active  {
    border-left: 4px solid #1b98f8;
}
